.project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
}

.project__img--16 {
    width: 100%;
    padding-bottom: 1rem;
}

.project__text {
    text-align: center;
}